<h2>Search: <%= @search.keywords %> (<%= on_text(@search) %>)</h2>
<% if @search.on? && !@realtime %>
<p>
  <a href="<%= realtime_search_path(@search) %>">Show search in realtime</a>
</p>
<% elsif @search.on? && @realtime %>
<p>
  <a href="<%= search_path(@search) %>">Show historical search results</a>
</p>
<% end %>

<% if @search.on? %>
<div>
  <form action="<%= stop_search_path(@search) %>" method="post">
    <input type="submit" value="Stop this search">
  </form>
</div>
<% end %>

<div id="tweets">
  <% @tweets.each do |tweet| %>
  <%= erb :_tweet, locals: {tweet: tweet} %>
  <% end %>
</div>

<% if @realtime %>
<div id="tweet_template">
  <%= erb :_tweet, locals: {tweet: Tweet.new} %>
</div>
<script type="text/javascript">
var searchId = <%= @search.id %>;
var lastUpdated = <%= @tweets.first ? @tweets.first.tweeted_at.to_i : "(new Date).getTime() / 1000" %>;
</script>
<script src="/js/realtime.js" type="text/javascript"></script>
<% end %>